/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/styles.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Inconsolata", monospace;
  background-color: #32506E;
  overflow: hidden;
  font-size: 20px;
  line-height: 28px;
}

/* line 22, ../sass/styles.scss */
.wrapper {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100vw;
  height: 100vh;
  background-color: #FDE3CD;
}
/* line 32, ../sass/styles.scss */
.wrapper.limit {
  width: 1920px;
  height: 1080px;
}
/* line 36, ../sass/styles.scss */
.wrapper.limit h1 {
  font-size: 192px;
  line-height: 1em;
}

/* line 43, ../sass/styles.scss */
h1 {
  font-size: 10vw;
  line-height: 1.2em;
  font-weight: bold;
  position: absolute;
  z-index: 200;
  bottom: 2vh;
  left: 2vw;
  max-width: 96vw;
  color: rgba(249, 172, 107, 0.5);
  font-family: 'Montserrat', sans-serif;
  pointer-events: none;
}

/* line 57, ../sass/styles.scss */
.iframe {
  position: absolute;
  z-index: 100;
  right: -25%;
  bottom: -25%;
  width: 80%;
  height: 140%;
  -webkit-perspective: 3200;
  perspective: 0;
}
/* line 67, ../sass/styles.scss */
.iframe .iframe-inner {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-45deg);
  box-shadow: -3vw 10vh 80px 20px rgba(247, 145, 58, 0.3);
}
/* line 76, ../sass/styles.scss */
.iframe .iframe-inner iframe {
  position: relative;
  z-index: 150;
  width: 100%;
  height: 100%;
  background: #fff url("../ripple.svg") no-repeat center center;
  background-size: 200px auto;
}
/* line 84, ../sass/styles.scss */
.iframe .iframe-inner iframe.loaded {
  background-image: none;
}
/* line 89, ../sass/styles.scss */
.iframe .iframe-inner .edge {
  content: '';
  position: absolute;
  left: -6px;
  top: 0px;
  height: 100%;
  border-top: 6px solid transparent;
  border-right: 6px solid #eee;
  transform-origin: top left;
}

/* line 102, ../sass/styles.scss */
.toolbar {
  position: fixed;
  z-index: 300;
  left: -256px;
  top: 0px;
  width: 340px;
  height: 100%;
  padding: 32px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(19, 8, 22, 0.5) url("../settings-icon.svg") no-repeat 282px 26px;
  background-size: 32px 32px;
  color: #fff;
  cursor: pointer;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 119, ../sass/styles.scss */
.toolbar .toolbar__inner {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s 0.2s ease-in-out;
}
/* line 125, ../sass/styles.scss */
.toolbar:hover {
  opacity: 1;
}
/* line 130, ../sass/styles.scss */
.toolbar.open {
  left: 0px;
  opacity: 1;
  cursor: default;
  background-color: rgba(19, 8, 22, 0.7);
  background-image: none;
}
/* line 137, ../sass/styles.scss */
.toolbar.open .toolbar__inner {
  pointer-events: all;
  opacity: 1;
}
/* line 144, ../sass/styles.scss */
.toolbar .settings-category .trigger {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  padding-bottom: 8px;
  margin-top: 32px;
  margin-bottom: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
/* line 159, ../sass/styles.scss */
.toolbar h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 32px;
}
/* line 166, ../sass/styles.scss */
.toolbar .form-item {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  margin-bottom: 16px;
}
/* line 173, ../sass/styles.scss */
.toolbar .form-item .prefix {
  font-weight: bold;
}
/* line 177, ../sass/styles.scss */
.toolbar .form-item input,
.toolbar .form-item select {
  -webkit-appearance: none;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  width: 3em;
  margin: 0px 8px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
}
/* line 193, ../sass/styles.scss */
.toolbar .form-item input:focus,
.toolbar .form-item select:focus {
  outline: none;
  border-color: #fff;
}
/* line 199, ../sass/styles.scss */
.toolbar .form-item select,
.toolbar .form-item input[type="text"] {
  width: 100%;
}
/* line 204, ../sass/styles.scss */
.toolbar .form-item input[type="color"] {
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
}
/* line 213, ../sass/styles.scss */
.toolbar .color-complex {
  display: none;
}
/* line 217, ../sass/styles.scss */
.toolbar .scale-button {
  margin-top: 32px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  text-align: center;
  line-height: 72px;
  cursor: pointer;
}
/* line 226, ../sass/styles.scss */
.toolbar .scale-button.active {
  background-color: #fff;
  color: #543011;
}

/* line 234, ../sass/styles.scss */
body.blue {
  background-color: #FDE3CD;
}
/* line 237, ../sass/styles.scss */
body.blue .wrapper {
  background-color: #32506E;
}
/* line 241, ../sass/styles.scss */
body.blue h1 {
  color: rgba(18, 29, 40, 0.5);
}
/* line 245, ../sass/styles.scss */
body.blue .toolbar {
  background-color: rgba(18, 29, 40, 0.5);
  color: #fff;
}
/* line 249, ../sass/styles.scss */
body.blue .toolbar input,
body.blue .toolbar select {
  border-color: black;
  color: #fff;
}
/* line 254, ../sass/styles.scss */
body.blue .toolbar input:focus,
body.blue .toolbar select:focus {
  border-color: #fff;
}
/* line 261, ../sass/styles.scss */
body.blue .iframe .iframe-inner {
  box-shadow: -3vw 10vh 80px 20px rgba(2, 4, 5, 0.3);
}
/* line 266, ../sass/styles.scss */
body.blue .scale-button {
  background-color: black;
}
/* line 269, ../sass/styles.scss */
body.blue .scale-button.active {
  background-color: #fff;
  color: black;
}
